{{define "header"}}{{/* Define a name to refer this template later in the code */}}<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
      Hello {{.}}
{{end}}